body {
    background-color: papayawhip;
    /* background-image: url("../image/unsplashPhoto.jpeg"); */
  }



  /* Index page */

  nav {
    float: left;
  }

  nav li {
    list-style-type: disc;
  }

  .postDiv {
    background-color: white;
    color: midnightblue;
    border: 2px solid black;
    font-size: 1.2rem;
    width: 40%;
    padding: 50px;
    margin: 0 auto;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }



  #usernameDisplay {
    font-weight: bold;
    font-size: 30px;
  }

 #createPostButton, #userPostButton, #signupButton, #loginButton, #signOutButton {
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
 }

  #usernameDisplay a:link, a:visited{
    color: black;
  } 


  
    
/* sign in page */

  .customWidth {
      width: 250px;
  }

  .form-signup, .form-login {
    position: relative;
    left: 500px;
    top: 200px;
  }


  .fas {
    font-size: 80px;
    padding: 30px;
    color: midnightblue;
  }

  /* create post page */
  #titleOfPost{
    width: 300px;
  }

  #descriptionOfPost {
    width: 500px;
    height: 200px;
  }

  .createPostDiv {
    margin: 0 auto;
    width: 20%;
  }

  #signOutButton {
    padding: 8px;
  }