body {
    background-color: papayawhip;
  }
  
  .postDiv {
    background-color: whitesmoke;
    border: 2px black solid;
    font-size: 1.2rem;
    width: 25rem;
    padding: 180px;
    margin-left: 5rem;
    display: block;
  }
    
/* sign in page */

  .customWidth {
      width: 250px;
  }

  .form-signup, .form-login {
    position: relative;
    left: 60rem;
    top: 25rem;;
  }
